body {
  margin: 0;
  background-color: #FEFEFE;
}

.container {
  margin: 0;
  padding: 0;
}

.topNavBar {
  background-color: black;
  height: 50px;
  width: 100%;
  position: fixed;
}
.navBarLinkPar {
  margin-left: 110px;
  margin-top: 15px;
}

.navBarLinks {
  margin-left: 20px;
  margin-top: 20px;
  color: #cecece;
  left: 10%;
}

.headlineLeft {
  float: left;
  /*background-color: grey;*/
  width: 36%;
  height: 600px;
  margin-left: 7%;
  margin-top: 65px;
}

.headlineLeftText {
  position: inherit;
  text-align: center;
  margin-top: 0px;
}

.hospitalImg {
  height: 250px;
  width: 100%;
}

.parInLeftHead {
  margin-top: 10px;
  position: inherit;
}

.headlineMid {
  float: left;
  width: 23%;
  height: 600px;
  margin-left: 20px;
  margin-top: 65px;
  /*background-color: grey;*/
}
.midTopStories {
  background-color: #F2F2F2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 0px;
}

.headlineRight {
  float: left;
  width: 23%;
  height: 600px;
  margin-left: 20px;
  margin-top: 65px;
  /*background-color: grey;*/
}
.rightTopStories{
  background-color: #F2F2F2;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 0px;
}

.moneyImage {
  width: 100%;
  height: 180px;
  margin-top: 0px;
}

.trumpTriImage {
  width: 100%;
  height: 180px;
}

.parInMidHead {

  margin-top: 10px;
  margin-bottom: 10.5px;
}

.parInRightHead {
  margin-top: 10px;
  margin-bottom: 12.5px;
}
